@import url('https://fonts.googleapis.com/css?family=Kanit:200,400&subset=thai');

.bg-grey{
    background-color: #EEEEEE;
}

.btn-fullwidth{
    display: block;
    width: 95%;
    border-color: rgba(0, 155, 141, 1);
    background-color: #FFFFFF;
    color: rgba(0, 155, 141, 1);
    margin-top: 2%;
}

.btn-fullwidth:hover{
    border-color: rgba(0, 155, 141, 1);
    background-color: rgba(0, 155, 141, 1);
    color: #FFFFFF;
}

.btn-fullwidth-dropdown{
    display: block;
    width: 95%;
    border-color: rgba(0, 155, 141, 1);
    background-color: #FFFFFF;
    color: rgba(0, 155, 141, 1);
    margin-top: 2%;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}

.btn-fullwidth-dropdown:hover{
    background-color: rgba(0, 155, 141, 1);
    color: #FFFFFF;
}

.bg-hischool{
    background-color: rgba(0, 155, 141, 1);
}

.btn-secondary{
    border-color: rgba(0, 155, 141, 1);
    background-color: #FFFFFF;
    color: rgba(0, 155, 141, 1);
    margin-top: 2%
}

.Top-Margin{
    margin-top: 4%;
}

body{
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Kanit', sans-serif;
}

.profilepic{
    width: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    border-color: #FFFFFF;
    border-width: 10%;
    border-style: solid;
}

.profile-details{
    font-size: 14pt;
}

.profile-label{
    font-size: 10pt;
    font-weight: 200;
    color: rgba(0, 155, 141, 1);
}

.profile-subject{
    font-size: 16pt;
    color: rgba(0, 155, 141, 1);
}

.profile-top{
    margin-top: 2%;
}

h4{
    font-weight: 200;
}